.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan
*.backup
secrets.auto.tfvars
terraform.tfvars
*.log
.DS_Store
Thumbs.db
